@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
        font-family: Lato, sans-serif;
        color: #777777;
      }   


/* code taken from https://learn.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/a4b90d17e5c94220a0f83f00ce7fa606/4b3b1b062b01424997c8fd052e177b8e/?child=first*/
.callout-container {
        height: 600px;
        width: 100%;
    
        background: url('../images/ladies-header.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: relative;
    }
.reasons-container {

}

.testimonials-container {

}

/* ------------------------------------------------- Nav Bar ----*/



.navbar {
    font-family: Lato, sans-serif;
    margin-bottom: 0;
    width: 100%;
    background-color: inherit;
    border: 0;

}

navbar navbar-logo {
    color: pink;
}
}
.navbar .navbar-toggler {
    border: 0;

}

.navbar-nav {
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


   
    
    



/* ------------------------------------------------- jumbotron ----*/

.jumbotron-header {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top:200px;
}

.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
}

.jumbotron .lead-two {
    color: #fff;
    font-weight: bold;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 70%;
    font-style: italic;
    color: #fff;
}
.jumbotron {
    background-color:transparent;
    }

 .opaque-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

/* ------------------------------------------------- buttons ----*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--pink {
    color: #fff;
    background-color: #f72585;
    border-color:#f72585 ;
}

.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active:focus {
    background-color: #d20a64;
    border-color: #d20a64;
    color: white;
}